##############################
# OS
##############################

.DS_Store
Thumbs.db

##############################
# IDE
##############################

.vscode/
.idea/

##############################
# Node
##############################

node_modules/
.next/
out/

##############################
# Python
##############################

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

##############################
# Virtual Environment
##############################

.venv/
venv/

##############################
# Docker
##############################

*.log

##############################
# Environment
##############################

.env
.env.local

##############################
# Coverage
##############################

coverage/

##############################
# Misc
##############################

dist/
build/